CompileFlags:
  Add: 
    - "-I../incs/"
    - "-I../../incs/"
    - "-I../../../incs/"
    - "-I../../../../incs/"
    - "-I../libkfs/incs"
    - "-I../../libkfs/incs"
    - "-I../../../libkfs/incs/"
    - "-I/home/rertzer/Criterion/include/criterion/"
    - "-I../include_test/"
    - "-m32"
